# Preliminary experiments

In [88]:
# imports

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function


%config Completer.use_jedi = False


%matplotlib inline

# Various
import numpy as np
import pandas as pd
from six.moves import xrange
import numpy as np
import matplotlib.pyplot as plt
import os
import time


# Tensorflow
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, LSTM, Activation, Masking, BatchNormalization, GRU, Lambda,\
TimeDistributed
from tensorflow.keras.optimizers import RMSprop,Adam
from tensorflow.keras.callbacks import History

from tensorflow.keras import backend as k
from tensorflow.keras import callbacks

# sklearn
from sklearn.preprocessing import normalize
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import KFold
from sklearn import pipeline
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Project specific modules
from losses import weibull_loglik_discrete, weibull_loglik_continuous
from preprocessing import build_data
from activations import activate

# math package
import math

## A simple network

In [83]:
def network(train_X, train_y, test_X, test_y, mask_value):

    k.set_epsilon(1e-10)
    history = History()
    nan_terminator = callbacks.TerminateOnNaN()

    n_features = train_X.shape[-1]
    print(train_X.shape)

    # Start building our model
    model = Sequential()
    # Mask parts of the lookback period that are all _mask_value_ (i.e., unobserved) so they don't skew the model
    model.add(Masking(mask_value=mask_value, input_shape=(None, n_features)))
    model.add(GRU(20, activation='tanh', recurrent_dropout=0.25, return_sequences=False))
    model.add(Dense(2))
    model.add(Activation(activate))

    # Use the discrete log-likelihood for Weibull survival data as our loss function
    model.compile(loss=weibull_loglik_discrete, optimizer=Adam(lr=.01, clipvalue=0.5))

    model.fit(train_X, train_y,
              epochs=1,
              batch_size=100,
              verbose=1,
              callbacks=[nan_terminator, history],
              workers=32)

    return model

### Weibull specific functions

In [78]:
def weibull_pdf(alpha, beta, t):
    return (beta/alpha) * (t/alpha)**(beta-1)*np.exp(- (t/alpha)**beta)

In [79]:
def weibull_median(alpha, beta):
    return alpha*(-np.log(.5))**(1/beta)

In [80]:
def weibull_mean(alpha, beta):
    return alpha * math.gamma(1 + 1/beta)

In [81]:
def weibull_mode(alpha, beta):
    assert np.all(beta > 1)
    return alpha * ((beta-1)/beta)**(1/beta)

## Dataset 1 - CMAPSS

In [4]:
id_col = 'unit_number'
time_col = 'time'
feature_cols = [ 'op_setting_1', 'op_setting_2', 'op_setting_3'] + ['sensor_measurement_{}'.format(x) for x in range(1,22)]
column_names = [id_col, time_col] + feature_cols

In [5]:
train_x_orig = pd.read_csv('https://raw.githubusercontent.com/daynebatten/keras-wtte-rnn/master/train.csv', header=None, names=column_names)
test_x_orig = pd.read_csv('https://raw.githubusercontent.com/daynebatten/keras-wtte-rnn/master/test_x.csv', header=None, names=column_names)
test_y_orig = pd.read_csv('https://raw.githubusercontent.com/daynebatten/keras-wtte-rnn/master/test_y.csv', header=None, names=['T'])

In [6]:
test_x_orig.set_index(['unit_number', 'time'], verify_integrity=True)

                  op_setting_1  op_setting_2  op_setting_3  \
unit_number time
1           1           0.0023        0.0003         100.0
            2          -0.0027       -0.0003         100.0
            3           0.0003        0.0001         100.0
            4           0.0042        0.0000         100.0
            5           0.0014        0.0000         100.0
...                        ...           ...           ...
100         194         0.0049        0.0000         100.0
            195        -0.0011       -0.0001         100.0
            196        -0.0006       -0.0003         100.0
            197        -0.0038        0.0001         100.0
            198         0.0013        0.0003         100.0

                  sensor_measurement_1  sensor_measurement_2  \
unit_number time
1           1                   518.67                643.02
            2                   518.67                641.71
            3                   518.67                642.46
            4                   518.67                642.44
            5                   518.67                642.51
...                                ...                   ...
100         194                 518.67                643.24
            195                 518.67                643.22
            196                 518.67                643.44
            197                 518.67                643.26
            198                 518.67                642.95

                  sensor_measurement_3  sensor_measurement_4  \
unit_number time
1           1                  1585.29               1398.21
            2                  1588.45               1395.42
            3                  1586.94               1401.34
            4                  1584.12               1406.42
            5                  1587.19               1401.92
...                                ...                   ...
100         194                1599.45               1415.79
            195                1595.69               1422.05
            196                1593.15               1406.82
            197                1594.99               1419.36
            198                1601.62               1424.99

                  sensor_measurement_5  sensor_measurement_6  \
unit_number time
1           1                    14.62                 21.61
            2                    14.62                 21.61
            3                    14.62                 21.61
            4                    14.62                 21.61
            5                    14.62                 21.61
...                                ...                   ...
100         194                  14.62                 21.61
            195                  14.62                 21.61
            196                  14.62                 21.61
            197                  14.62                 21.61
            198                  14.62                 21.61

                  sensor_measurement_7  ...  sensor_measurement_12  \
unit_number time                        ...
1           1                   553.90  ...                 521.72
            2                   554.85  ...                 522.16
            3                   554.11  ...                 521.97
            4                   554.07  ...                 521.38
            5                   554.16  ...                 522.15
...                                ...  ...                    ...
100         194                 553.41  ...                 520.69
            195                 553.22  ...                 521.05
            196                 553.04  ...                 521.18
            197                 553.37  ...                 521.33
            198                 552.48  ...                 521.07

                  sensor_measurement_13  sensor_measurement_14  \
unit_number time
1           1                   2388.03                8125.55
            2                   2388.06                8139.62
            3                   2388.03                8130.10
            4                   2388.05                8132.90
            5                   2388.03                8129.54
...                                 ...                    ...
100         194                 2388.00                8213.28
            195                 2388.09                8210.85
            196                 2388.04                8217.24
            197                 2388.08                8220.48
            198                 2388.05                8214.64

                  sensor_measurement_15  sensor_measurement_16  \
unit_number time
1           1                    8.4052                   0.03
            2                    8.3803                   0.03
            3                    8.4441                   0.03
            4                    8.3917                   0.03
            5                    8.4031                   0.03
...                                 ...                    ...
100         194                  8.4715                   0.03
            195                  8.4512                   0.03
            196                  8.4569                   0.03
            197                  8.4711                   0.03
            198                  8.4903                   0.03

                  sensor_measurement_17  sensor_measurement_18  \
unit_number time
1           1                       392                   2388
            2                       393                   2388
            3                       393                   2388
            4                       391                   2388
            5                       390                   2388
...                                 ...                    ...
100         194                     394                   2388
            195                     395                   2388
            196                     395                   2388
            197                     395                   2388
            198                     396                   2388

                  sensor_measurement_19  sensor_measurement_20  \
unit_number time
1           1                     100.0                  38.86
            2                     100.0                  39.02
            3                     100.0                  39.08
            4                     100.0                  39.00
            5                     100.0                  38.99
...                                 ...                    ...
100         194                   100.0                  38.65
            195                   100.0                  38.57
            196                   100.0                  38.62
            197                   100.0                  38.66
            198                   100.0                  38.70

                  sensor_measurement_21
unit_number time
1           1                   23.3735
            2                   23.3916
            3                   23.4166
            4                   23.3737
            5                   23.4130
...                                 ...
100         194                 23.1974
            195                 23.2771
            196                 23.2051
            197                 23.2699
            198                 23.1855

[13096 rows x 24 columns]

In [7]:
train_x_orig.set_index(['unit_number', 'time'], verify_integrity=True)

                  op_setting_1  op_setting_2  op_setting_3  \
unit_number time
1           1          -0.0007       -0.0004         100.0
            2           0.0019       -0.0003         100.0
            3          -0.0043        0.0003         100.0
            4           0.0007        0.0000         100.0
            5          -0.0019       -0.0002         100.0
...                        ...           ...           ...
100         196        -0.0004       -0.0003         100.0
            197        -0.0016       -0.0005         100.0
            198         0.0004        0.0000         100.0
            199        -0.0011        0.0003         100.0
            200        -0.0032       -0.0005         100.0

                  sensor_measurement_1  sensor_measurement_2  \
unit_number time
1           1                   518.67                641.82
            2                   518.67                642.15
            3                   518.67                642.35
            4                   518.67                642.35
            5                   518.67                642.37
...                                ...                   ...
100         196                 518.67                643.49
            197                 518.67                643.54
            198                 518.67                643.42
            199                 518.67                643.23
            200                 518.67                643.85

                  sensor_measurement_3  sensor_measurement_4  \
unit_number time
1           1                  1589.70               1400.60
            2                  1591.82               1403.14
            3                  1587.99               1404.20
            4                  1582.79               1401.87
            5                  1582.85               1406.22
...                                ...                   ...
100         196                1597.98               1428.63
            197                1604.50               1433.58
            198                1602.46               1428.18
            199                1605.26               1426.53
            200                1600.38               1432.14

                  sensor_measurement_5  sensor_measurement_6  \
unit_number time
1           1                    14.62                 21.61
            2                    14.62                 21.61
            3                    14.62                 21.61
            4                    14.62                 21.61
            5                    14.62                 21.61
...                                ...                   ...
100         196                  14.62                 21.61
            197                  14.62                 21.61
            198                  14.62                 21.61
            199                  14.62                 21.61
            200                  14.62                 21.61

                  sensor_measurement_7  ...  sensor_measurement_12  \
unit_number time                        ...
1           1                   554.36  ...                 521.66
            2                   553.75  ...                 522.28
            3                   554.26  ...                 522.42
            4                   554.45  ...                 522.86
            5                   554.00  ...                 522.19
...                                ...  ...                    ...
100         196                 551.43  ...                 519.49
            197                 550.86  ...                 519.68
            198                 550.94  ...                 520.01
            199                 550.68  ...                 519.67
            200                 550.79  ...                 519.30

                  sensor_measurement_13  sensor_measurement_14  \
unit_number time
1           1                   2388.02                8138.62
            2                   2388.07                8131.49
            3                   2388.03                8133.23
            4                   2388.08                8133.83
            5                   2388.04                8133.80
...                                 ...                    ...
100         196                 2388.26                8137.60
            197                 2388.22                8136.50
            198                 2388.24                8141.05
            199                 2388.23                8139.29
            200                 2388.26                8137.33

                  sensor_measurement_15  sensor_measurement_16  \
unit_number time
1           1                    8.4195                   0.03
            2                    8.4318                   0.03
            3                    8.4178                   0.03
            4                    8.3682                   0.03
            5                    8.4294                   0.03
...                                 ...                    ...
100         196                  8.4956                   0.03
            197                  8.5139                   0.03
            198                  8.5646                   0.03
            199                  8.5389                   0.03
            200                  8.5036                   0.03

                  sensor_measurement_17  sensor_measurement_18  \
unit_number time
1           1                       392                   2388
            2                       392                   2388
            3                       390                   2388
            4                       392                   2388
            5                       393                   2388
...                                 ...                    ...
100         196                     397                   2388
            197                     395                   2388
            198                     398                   2388
            199                     395                   2388
            200                     396                   2388

                  sensor_measurement_19  sensor_measurement_20  \
unit_number time
1           1                     100.0                  39.06
            2                     100.0                  39.00
            3                     100.0                  38.95
            4                     100.0                  38.88
            5                     100.0                  38.90
...                                 ...                    ...
100         196                   100.0                  38.49
            197                   100.0                  38.30
            198                   100.0                  38.44
            199                   100.0                  38.29
            200                   100.0                  38.37

                  sensor_measurement_21
unit_number time
1           1                   23.4190
            2                   23.4236
            3                   23.3442
            4                   23.3739
            5                   23.4044
...                                 ...
100         196                 22.9735
            197                 23.1594
            198                 22.9333
            199                 23.0640
            200                 23.0522

[20631 rows x 24 columns]

### Data pre-processing

In [8]:
# scaler=pipeline.Pipeline(steps=[
#      ('minmax', MinMaxScaler(feature_range=(-1, 1))),
#      ('remove_constant', VarianceThreshold())])

# train = train_x_orig.copy()
# train = np.concatenate([train[['unit_number', 'time']], scaler.fit_transform(train[feature_cols])], axis=1)

In [9]:
# test = test_x_orig.copy()
# test = np.concatenate([test[['unit_number', 'time']], scaler.transform(test[feature_cols])], axis=1)

In [10]:
# Make engine numbers and days zero-indexed, for everybody's sanity
train_x_orig.iloc[:, 0:2] -= 1
test_x_orig.iloc[:, 0:2] -= 1

In [94]:
# always observed in our case
test_y_orig
test_y_orig['E'] = 1
# test_y = test_y.values

In [95]:
test_y_orig.head()

     T  E
0  112  1
1   98  1
2   69  1
3   82  1
4   91  1

In [96]:
train_x_orig.head()

,unit_number,time,op_setting_1,op_setting_2,op_setting_3,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,...,sensor_measurement_12,sensor_measurement_13,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21
0,0,0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,0,1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,0,2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,0,3,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,0,4,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [97]:
test_x_orig.head()

,unit_number,time,op_setting_1,op_setting_2,op_setting_3,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,...,sensor_measurement_12,sensor_measurement_13,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21
0,0,0,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,0,1,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,0,2,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,0,3,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,0,4,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

In [98]:
train_x_orig.shape

(20631, 26)

In [99]:
test_x_orig.shape

(13096, 26)

In [110]:
tte_mean_train = np.nanmean(train_y[:, 0])
mean_u = np.nanmean(train_y[:, 1])

# Initialization value for alpha-bias
init_alpha = -1.0 / np.log(1.0 - 1.0 / (tte_mean_train + 1.0))
init_alpha = init_alpha / mean_u
print('tte_mean_train', tte_mean_train, 'init_alpha: ', init_alpha, 'mean uncensored train: ', mean_u)

tte_mean_train 102.5252800484408 init_alpha:  103.02447118039738 mean uncensored train:  1.0

### K-fold CV

In [100]:
max_time = 100
mask_value = -99
cv = 2

In [111]:
kf = KFold(n_splits=cv, shuffle=True)

In [117]:
fold_count = 0

rmse_train = []
r2_train = []
mae_train = []

rmse_test = []
r2_test = []
mae_test = []

file = 'RUL_SA_prelim_results_cmapss_1st.csv'
columns = ['fold', 'rmse_train', 'mae_train', 'r2_train', 'rmse_test', 'mae_test', 'r2_test']
results = pd.DataFrame(columns=columns)

for train_units, test_units in kf.split(train_x_orig.unit_number.unique()):
    
    fold_count+= 1
    
    # Selecting data
    train_index = train_x_orig[train_x_orig.unit_number.isin(train_units)].index
    test_index = test_x_orig[test_x_orig.unit_number.isin(test_units)].index

    X_train = train_x_orig.iloc[train_index]
    X_test = test_x_orig.iloc[test_index]
    
    X_train.reset_index(drop=True, inplace=True)
    X_test.reset_index(drop=True, inplace=True)
    
    Y_test = test_y_orig.copy()
    Y_test = Y_test.iloc[test_units]
    Y_test.reset_index(drop=True, inplace=True)
    
    # Pre-processing data
    scaler=pipeline.Pipeline(steps=[
     ('minmax', MinMaxScaler(feature_range=(-1, 1))),
     ('remove_constant', VarianceThreshold())])

    train = X_train.copy()
    train = np.concatenate([train[['unit_number', 'time']], scaler.fit_transform(train[feature_cols])], axis=1)
    
    test = X_test.copy()
    test = np.concatenate([test[['unit_number', 'time']], scaler.transform(test[feature_cols])], axis=1)
    
    
    # Preparing data for the RNN
    train_x, train_y = build_data(units=train[:, 0], time=train[:, 1], x=train[:, 2:], max_time=max_time,
                                  is_test=False, mask_value=mask_value)

    test_x, _ = build_data(units=test[:, 0], time=test[:, 1], x=test[:, 2:], max_time=max_time,
                       is_test=True, mask_value=mask_value)
    
    test_y = Y_test.to_numpy()
    
    # training
    model = network(train_x, train_y, test_x, test_y, mask_value)
    
    # predicting the rul on the train fold
    train_predict = model.predict(train_x)
    train_predict = np.resize(train_predict, (train_x.shape[0], 2))
    train_result = np.concatenate((train_y, train_predict), axis=1)
    train_results_df = pd.DataFrame(train_result, columns=['T', 'E', 'alpha', 'beta'])
    train_results_df['unit_number'] = np.arange(1, train_results_df.shape[0]+1)
    
    train_results_df['predicted_mu'] = train_results_df[['alpha', 'beta']].apply(lambda row: weibull_mean(row[0], row[1]), axis=1)
#     train_results_df['predicted_median'] = train_results_df[['alpha', 'beta']].apply(lambda row: weibull_median(row[0], row[1]), axis=1)
#     train_results_df['predicted_mode'] = train_results_df[['alpha', 'beta']].apply(lambda row: weibull_mode(row[0], row[1]), axis=1)

    
    # predicting the rul on the test fold
    test_predict = model.predict(test_x)
    test_predict = np.resize(test_predict, (test_x.shape[0], 2))
    test_result = np.concatenate((test_y, test_predict), axis=1)
    test_results_df = pd.DataFrame(test_result, columns=['T', 'E', 'alpha', 'beta'])
    test_results_df['unit_number'] = np.arange(1, test_results_df.shape[0]+1)
    
    test_results_df['predicted_mu'] = test_results_df[['alpha', 'beta']].apply(lambda row: weibull_mean(row[0], row[1]), axis=1)
#     test_results_df['predicted_median'] = test_results_df[['alpha', 'beta']].apply(lambda row: weibull_median(row[0], row[1]), axis=1)
#     test_results_df['predicted_mode'] = test_results_df[['alpha', 'beta']].apply(lambda row: weibull_mode(row[0], row[1]), axis=1)
    
    # performance evaluation
    # train:
    rmse_train.append(np.sqrt(mean_squared_error(train_results_df['predicted_mu'], train_results_df['T'])))
    mae_train.append((mean_absolute_error(train_results_df['predicted_mu'], train_results_df['T'])))
    r2_train.append(r2_score(train_results_df['predicted_mu'], train_results_df['T']))
    
    # test:
    rmse_test.append(np.sqrt(mean_squared_error(test_results_df['predicted_mu'], test_results_df['T'])))
    mae_test.append((mean_absolute_error(test_results_df['predicted_mu'], test_results_df['T'])))
    r2_test.append(r2_score(test_results_df['predicted_mu'], test_results_df['T']))
    
    # registering results
    results['fold'] = [fold_count]
    results['rmse_train'] = [rmse_train[-1]]
    results['mae_train'] = [mae_train[-1]]
    results['r2_train'] = [r2_train[-1]]
    results['rmse_test'] = [rmse_test[-1]]
    results['mae_test'] = [mae_test[-1]]
    results['r2_test'] = [r2_test[-1]]   
    
    if os.path.isfile(file):
        results.to_csv('./' + file, mode='a', index=False, header=False)
    else:
        results.to_csv('./' + file, mode='w', index=False, header=True)

100%|██████████| 50/50 [00:00<00:00, 77.94it/s]
100%|██████████| 50/50 [00:00<00:00, 8674.52it/s]

(10312, 100, 17)
104/104 [==============================] - 38s 307ms/step - loss: 8.9807

100%|██████████| 50/50 [00:00<00:00, 82.76it/s]
100%|██████████| 50/50 [00:00<00:00, 9331.87it/s]

(10319, 100, 17)
104/104 [==============================] - 37s 301ms/step - loss: 18.3829